@import "./common/var.scss";
@import "./mixins/mixin.scss";

$cname: $namespace+'-'+"checkbox";
$size:16px;
$iconWidth:4px;
$iconHeight:6.8px;

@include b(checkbox) {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    &:hover {
        .#{$cname+$element-separator+'icon'} {
            border-color: $color-primary-6;
            box-shadow: 0 0 0 4px $color-shadow-primary-1;
        }
    }

    @include when(checked) {
        .#{$cname+$element-separator+'icon'} {
            background-color: $color-primary-6;
            border-color: $color-primary-6;
            box-shadow: 0 0 0 0 $color-shadow-primary-1 !important;

            &:after {
                opacity: 1;
                border-color: #fff;
                transform: translate3d(-50%, -50%, 0) rotate(45deg) scale(1);
            }
        }
    }

    @include e(input) {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        z-index: -1;
    }

    @include e(label) {
        padding-left: 6px;
    }

    @include e(icon) {
        width: $size;
        height: $size;
        border: 2px solid $color-fill-3;
        position: relative;
        transition: all .2s ease;
        border-radius: 2px;

        &:after {
            content: "";
            width: $iconWidth;
            height: $iconHeight;
            position: absolute;
            left: 50%;
            top: 41.1%;
            transition: all .2s ease;
            border: 2px solid $color-primary-6;
            border-top: 0;
            border-left: 0;
            transform: translate3d(-50%, -50%, 0) rotate(45deg) scale(1.2);
            opacity: 0;
        }
    }

    @include when(disabled) {
        cursor: not-allowed;

        .#{$cname+$element-separator+'icon'} {
            border-color: $color-secondary-3 !important;
            background-color: $color-secondary-2;
            box-shadow: none !important;
        }

        .#{$cname+$element-separator+'label'} {
            color: $color-secondary-4;
        }

        &.is--checked {
            .#{$cname+$element-separator+'icon'} {
                &:after {
                    color: $color-secondary-4;
                    border-color: $color-secondary-4;
                }
            }
        }
    }
}