@import "./common/var.scss";
@import "./mixins/mixin.scss";

$cname: $namespace+'-'+"uploader";

@include b(uploader) {

    @include e(trigger) {
        display: inline-flex;
    }

    @include e(tip) {
        font-size: 12px;
        margin-top: 7px;
        color: $color-text-2;
    }

    .m-uploader-list {
        margin-top: 10px;
    }

    .m-uploader-item {
        display: flex;
        align-items: center;
        // margin-bottom: 7px;
        padding: 5px;
        border-radius: 3px;
        position: relative;
        overflow: hidden;
        transition: background-color .2s ease;
        cursor: pointer;

        &--status-pending {}

        &--status-done {
            .m-uploader-status-icon {
                color: $color-success-4;
            }
        }

        &--status-init {}

        &--status-error {
            .m-uploader-status-icon {
                color: $color-danger-4;
            }
        }


        &:hover {
            background-color: rgb(239, 242, 247);

            .btn-remove {
                display: block;
            }

            .m-uploader-status-icon {
                display: none;
            }

        }

        &__info {
            align-items: center;
            display: flex;
            margin-right: 40px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 13px;
            font-weight: 500;

            .info-icon {
                margin-right: 5px;
                cursor: pointer;
                color: $color-text-3;
            }

            .info-text {
                color: $color-text-2;
            }
        }

        &__toolbar {
            display: flex;
            position: absolute;
            right: 7px;
        }
    }

    .m-uploader-icon-btn {
        cursor: pointer;
    }

    .m-uploader-status-icon {
        display: block;
    }

    .btn-remove {
        display: none;
    }

    .#{$cname}-input {
        display: none;
    }
}